https://wikidocs.net/11

# 02장 파이썬 프로그래밍의 기초
## 02-1 숫자형

### 02-1-1 숫자형은 어떻게 만들고 사용할까?(정수형,실수형)

#### 1) 정수형

In [1]:
a=123
b=-178
c=0

#### 2) 실수형

In [ ]:
a=1.2
b=-3.45
#실수형의 소수점 표현방식
a=4.24E10
b=4.24e-10

### 02-1-2 숫자형을 활용하기 위한 연산자

#### 1) 사칙연산

In [2]:
a=3
b=4
a+b

7

In [3]:
a*b

12

In [4]:
a/b

0.75

#### 2) 제곱을 나타내는 연산자 **

In [5]:
a=3
b=4
a**b

81

#### 3) 나눗셈 후 나머지를 변환하는 연산자 %

In [7]:
7%3
3%7
print(7%3)
print(3%7)

1
3

#### 4) 나눗셈 후 몫을 반환하는 연산자 //

In [8]:
7/4

1.75

In [9]:
7//4

1

## 02-2 문자형 자료형

### 02-2-1 문자열은 어떻게 만들고 사용할까?

#### 1. 큰따옴표(")로 양쪽에 둘러싸기

In [10]:
"Hello World"

'Hello World'

#### 2. 작은따옴표(')로 양쪽 둘러싸기

In [11]:
'Python is fun'

'Python is fun'

#### 3. 큰따옴표를 3개를 연속(""")

In [12]:
"""Life is too short, You need python"""

'Life is too short, You need python'

#### 4. 작은따옴표 3개를 연속(''')으로 써서 양쪽 둘러싸기

In [13]:
'''Life is too short, You need python'''

'Life is too short, You need python'

### 1) 문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때

#### 1. 문자열에 작은따옴표(') 포함시키기

In [14]:
food= "Python's favorite food is perl"

In [15]:
food

"Python's favorite food is perl"

#### 2. 문자열에 큰따옴표(") 포함시키기

In [18]:
"Python is very easy" he says.

SyntaxError: invalid syntax (<ipython-input-18-962a3ec0f758>, line 1)

In [16]:
say='"Python is very easy" he says.'

In [17]:
say

'"Python is very easy" he says.'

#### 3.  백슬래시(\\\)를 사용해서 작은따옴표(')와 큰따옴표(")를 문자열에 포함시키기

In [19]:
food='Python\'s favorite food is perl'
food

"Python's favorite food is perl"

In [20]:
say="\"Python is very easy.\"he says."
say

'"Python is very easy."he says.'

### 여러 줄인 문자열을 변수에 대입하고 싶을 때

#### 1. 줄을 바꾸기 위한 이스케이프 코드 \n 삽입하기

In [21]:
multiline="Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

#### 2. 연속된 작은 따옴표 3개(''')또는 큰 따옴표(""") 사용하기

In [22]:
multiline="""
Life is too short
You need python
"""
print(multiline)

Life is too short
You need python

### 문자열 연산하기

#### 1. 문자열 더해서 연결하기

In [24]:
head= "Python "
tail="is fun!"
head+tail

'Python is fun!'

#### 2. 문자열 곱하기

In [25]:
a="python"
a*2

'pythonpython'

#### 3. 문자열 곱하기 응용

In [26]:
print("="*50)
print("My program")
print("="*50)

==================================================
My program
==================================================

#### 4. 문자열 길이 구하기

In [27]:
a="Life is too short"
len(a)

17

### 문자열 인덱싱과 슬라이싱

#### 문자열 인덱싱이란?

In [28]:
a="Life is too short, You need Python"
a[3]
#파이썬은 0부터 숫자를 센다

'e'

#### 문자열 인덱싱 활용하기

In [29]:
a[-1]

'n'

In [30]:
a[-5]

'y'

#### 문자열 슬라이싱이란?

In [31]:
b=a[0]+a[1]+a[2]+a[3]
b

'Life'

#### 문자열 슬라이싱하는 방법

In [32]:
a[0:4] #0<=a<4

'Life'

In [33]:
a[19:]

'You need Python'

In [34]:
a[:17]

'Life is too short'

In [35]:
a[19:-7]

'You need'

#### 슬라이싱으로 문자열 나누기

In [36]:
a="20010331Rainy"
year=a[:4]
day=a[4:8]
weather=a[8:]
year

'2001'

In [37]:
day

'0331'

In [38]:
weather

'Rainy'

### 문자열 포매팅

#### 1. 문자열 포매팅 따리하기

##### 1)  숫자 바로 대입

In [39]:
"I eat %d apples." %3 #숫자를 넣으려면 %d

'I eat 3 apples.'

##### 2) 문자열 바로 대입

In [40]:
"I eat %s apples." %"five" #문자열을 넣으려면 %s

'I eat five apples.'

##### 3) 숫자 값을 나타내는 변수로 대입

In [41]:
number = 3
"I eat %d apples." % number
'I eat 3 apples.'

'I eat 3 apples.'

##### 4) 2개 이상의 값 넣기

In [42]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)
'I ate 10 apples. so I was sick for three days.'

'I ate 10 apples. so I was sick for three days.'

#### 2. 문자열 포맷 코드

%s 문자열/
%c 문자 1개/
%d 정수/
%f 부동소수/
%o 8진수/
%x 16진수/
%% Literal

#### 3. 포맷 코드와 숫자 함께 사용하기

##### 1) 정렬과 공백

In [43]:
 "%10s" % "hi"

'        hi'

In [44]:
"%-10sjane." % 'hi' #jane 앞에 10개의 공백이 생김

'hi        jane.'

##### 2) 소수점 표현하기

In [45]:
"%0.4f" % 3.42134234 #소수점 넷째자리까지 입력

'3.4213'

In [46]:
"%10.4f" % 3.42134234

'    3.4213'

#### 4. format 함수를 사용한 포매팅

##### 숫자 바로 대입하기

In [47]:
"I eat {0} apples".format(3)

'I eat 3 apples'

#####  문자열 바로 대입하기

In [48]:
 "I eat {0} apples".format("five")

'I eat five apples'

##### 숫자 값을 가진 변수로 대입하기

In [49]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

##### 2개 이상의 값 넣기

In [50]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

##### 이름으로 넣기

In [51]:
 "I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

##### 인덱스와 이름을 혼용해서 넣기

In [52]:
 "I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

##### 왼쪽 정렬

In [55]:
 "{0:<10}".format("hi") #화살표 끝 방향 보고 생각하기!

'hi        '

##### 오른쪽 정렬

In [56]:
 "{0:>10}".format("hi")

'        hi'

##### 가운데 정렬

In [57]:
 "{0:^10}".format("hi")

'    hi    '

##### 공백 채우기

In [58]:
"{0:=^10}".format("hi")

'====hi===='

In [59]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

##### 소수점 표현하기

In [60]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

##### { 또는 } 문자 표현하기

In [ ]:
"{0:10.4f}".format(y)

#### 5. f 문자열 포매팅

In [61]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.' #format함수의 f만 붙여도 인식가능

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [62]:
 age = 30
 f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [63]:
 d = {'name':'홍길동', 'age':30}
 f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [64]:
 f'{{ and }}' #{}을 나타내긴 위해서는 {{}}이렇게 두번 써야한다

'{ and }'

### 문자열 관련 함수들

#### 1. 문자 개수 세기(count)

In [65]:
a = "hobby"
a.count('b') #작은따옴표 붙여줘야 함

2

#### 2. 위치 알려주기1(find)

In [66]:
a = "Python is the best choice"
a.find('b') #b의 인덱스가 결과로 나옴

14

In [67]:
a.find('k') #찾는 문자열이 존재하지 않을 때

-1

#### 3. 위치 알려주기2(index)

In [68]:
a = "Life is too short"
a.index('t')

8

In [69]:
a.index('k') #k가 존재하지 않으므로 위치 반환이 안되고 오류가 남

ValueError: substring not found

#### 4. 문자열 삽입(join)

In [70]:
",".join('abcd')

'a,b,c,d'

In [71]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

#### 5. 소문자를 대문자로 바꾸기(upper)

In [72]:
a = "hi"
a.upper()

'HI'

#### 6. 대문자를 소문자로 바꾸기(lower)

In [73]:
a = "HI"
a.lower()

'hi'

#### 7. 왼쪽 공백 지우기(lstrip)

In [74]:
a = " hi "
a.lstrip()

'hi '

#### 8. 오른쪽 공백 지우기(rstrip)

In [75]:
a= " hi "
a.rstrip()

' hi'

#### 9. 양쪽 공백 지우기(strip)

In [76]:
a = " hi "
a.strip()

'hi'

#### 10. 문자열 바꾸기(replace)

In [77]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

#### 11. 문자열 나누기(split)

In [ ]:
a = "Life is too short"
a.split()

In [ ]:
b = "a:b:c:d"
b.split(':')

# 02-3 리스트 자료형

## 1. 리스트는 어떻게 만들고 사용할까?

In [78]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']] #리스트 자체를 요솟값으로 가질 수도 있음

## 2. 리스트의 인덱싱과 슬라이싱

### 1. 리스트의 인덱싱

In [79]:
a = [1, 2, 3]
a

[1, 2, 3]

In [80]:
a[0]

1

In [81]:
a[0] + a[2]

4

In [82]:
a[-1] #-가 붙으면 뒤에서 부터 세줌

3

In [83]:
a = [1, 2, 3, ['a', 'b', 'c']]
a

[1, 2, 3, ['a', 'b', 'c']]

In [84]:
a[-1]

['a', 'b', 'c']

In [85]:
a[-1][0] #리스트 a에 포함된 ['a','b','c'] 리스트에서 인덱싱을 이용해 요소를 꺼내보자

'a'

In [86]:
a[-1][1]

'b'

In [87]:
a[-1][2]

'c'

### 2. 리스트의 슬라이싱

In [88]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [89]:
a = "12345"
a[0:2]

'12'

In [90]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
b

[1, 2]

In [91]:
c

[3, 4, 5]

### *중첩된 리스트 슬라이싱하기

In [92]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[3][:2]

['a', 'b']

## 3. 리스트 연산하기

### 1. 리스트 더하기(+)

In [93]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

### 2. 리스트 반복하기(*)

In [94]:
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 3. 리스트 길이구하기

In [95]:
a = [1, 2, 3]
len(a)

3

### *초보자가 범하기 쉬운 리스트 연산 오류

In [96]:
a = [1, 2, 3]
a[2] + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [97]:
a = [1, 2, 3]
str(a[2]) + "hi" #str함수는 정수나 실수를 문자열의 형태로 바꾸어주는 함수

'3hi'

## 4. 리스트의 수정과 삭제

### 1. 리스트에서 값 수정하기

In [98]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

### 2. del 함수 사용해 리스트 요소 삭제하기 = 지정한 인덱스의 해당 원소 삭제

In [99]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [100]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

## 5. 리스트 관련 함수들

### 1. 리스트에 요소 추가(append)

In [101]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [102]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

### 2. 리스트 정렬(sort)

In [103]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [104]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

### 3. 리스트 뒤집기(reverse)

In [105]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

### 4. 위치 반환(index)

In [106]:
a = [1,2,3]
a.index(3) #인덱스 값이 결과로 나옴. 3의 인덱스는 2이기 때문에 2가 출력됨

2

In [ ]:
a.index(1)

### 5. 리스트에 요소 삽입(insert)

In [108]:
a = [1, 2, 3]
a.insert(0, 4) #a.insert(자리, 넣을 숫자)
a

[4, 1, 2, 3]

In [109]:
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

### 6. 리스트 요소 제거(remove) = 해당 원소를 삭제

In [ ]:
a = [1, 2, 3, 1, 2, 3] 
a.remove(3) #remove(x)는 리스트에서 첫 번째로 나오는 x를 삭제하는 함수
a

In [ ]:
a.remove(3)
a

### 7. 리스트 요소 끄집어내기(pop)

In [110]:
a = [1,2,3]
a.pop()

3

In [ ]:
a #pop()은 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제

In [111]:
a = [3,4,5]
a.pop(1)

4

In [112]:
a #pop(x)는 리스트의 x 인덱스에 해당하는 값을 돌려주고 그 요소는 삭제

[3, 5]

### 8. 리스트에 포함된 요소 x의 개수 세기(count)

In [113]:
a = [1,2,3,1]
a.count(1) #count(x)는 리스트 안에 x가 몇 개 있는지 조사하여 그 개수를 돌려주는 함수

2

### 9. 리스트 확장(extend)

In [114]:
a = [1,2,3]
a.extend([4,5]) #extend(x)에서 x에는 리스트만 올 수 있으며 원래의 a 리스트에 x 리스트를 더하게 된다
a

[1, 2, 3, 4, 5]

In [115]:
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

# 02-4 튜플 자료형

## 1. 튜플은 어떻게 만들까?

In [116]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd')) #리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다

## 2. 튜플의 요소값을 지우거나 변경하려고 하면 어떻게 될까?

###  1. 튜플 요솟값을 삭제하려 할 때

In [117]:
t1 = (1, 2, 'a', 'b')
del t1[0] #튜플은 요소를 지우는 행위가 지원되지 않는다

TypeError: 'tuple' object doesn't support item deletion

###  2. 튜플 요솟값을 변경하려 할 때

In [118]:
t1 = (1, 2, 'a', 'b')
t1[0] = 'c' #튜플의 요솟값을 변경 행위가 지원되지 않는다

TypeError: 'tuple' object does not support item assignment

## 3. 튜플 다루기

###  1. 인덱싱하기

In [119]:
t1 =(1, 2, 'a', 'b')
t1[0]

1

In [120]:
t1[3]

'b'

###  2. 슬라이싱하기

In [121]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

###  3. 튜플 더하기

In [122]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

###  4. 튜플 곱하기

In [ ]:
t2 = (3, 4)
t2 * 3

###  5. 튜플 길이 구하기

In [ ]:
t1 = (1, 2, 'a', 'b')
len(t1)

# 02-5 딕셔너리 자료형

## 1. 딕셔너리란?

 딕셔너리(Dictionary) : "이름" = "홍길동", "생일" = "몇 월 몇 일" 등 이러한 대응 관계를 나타내는 자료형, Key와 Value를 한 쌍으로 갖는 자료형, not 순차적

## 2. 딕셔너리는 어떻게 만들까?

In [ ]:
{Key1:Value1, Key2:Value2, Key3:Value3, ...} #기본 딕셔너리의 모습
# Key에는 변하지 않는 값을 사용하고, Value에는 변하는 값과 변하지 않는 값 모두 사용할 수 있다.

In [127]:
>>> dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}

In [ ]:
>>> a = {1: 'hi'}

In [ ]:
>>> a = { 'a': [1,2,3]}

## 3. 딕셔너리 쌍 추가, 삭제하기

### 1. 딕셔너리 쌍 추가하기

In [133]:
>>> a = {1: 'a'}
>>> a[2] = 'b' # a에 Key와 Value가 각각 2와 'b'인 2 : 'b'라는 딕셔너리 쌍이 추가
>>> a

{1: 'a', 2: 'b'}

In [134]:
>>> a['name'] = 'pey'
>>> a

{1: 'a', 2: 'b', 'name': 'pey'}

In [135]:
>>> a[3] = [1,2,3]
>>> a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

### 2. 딕셔너리 요소 삭제하기

In [136]:
>>> del a[1]
>>> a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

## 4. 딕셔너리를 사용하는 방법

###  1. 딕셔너리에서 Key 사용해 Value 얻기

In [137]:
>>> grade = {'pey': 10, 'julliet': 99}
>>> grade['pey'] #Key를 사용해서 Value를 얻을 수 있다
# 딕셔너리 a는 a[Key]로 입력해서 Key에 해당하는 Value를 얻는다

10

In [138]:
>>> grade['julliet']

99

In [139]:
>>> a = {1:'a', 2:'b'}
>>> a[1]

'a'

In [140]:
>>> a[2]

'b'

In [141]:
>>> a = {'a':1, 'b':2}
>>> a['a']

1

In [142]:
>>> a['b']

2

###  2. 딕셔너리 만들 때 주의할 사항

In [143]:
>>> a = {1:'a', 1:'b'}
>>> a # 동일한 Key가 2개 존재할 경우 1:'a' 쌍이 무시

{1: 'b'}

In [144]:
>>> a = {[1,2] : 'hi'}
#Key에 리스트는 쓸 수 없다는 것!!!!!리스트는 그 값이 변할 수 있기 때문에 Key로 쓸 수 없다. 변하지 않는 튜플을 이용해보기

TypeError: unhashable type: 'list'

## 5. 딕셔너리 관련 함수들

### 1. Key 리스트 만들기(keys)

In [123]:
>>> a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
>>> a.keys()
#a.keys()는 딕셔너리 a의 Key만을 모아서 dict_keys 객체를 돌려줌, 순서가 있음

dict_keys(['name', 'phone', 'birth'])

### 2. Value 리스트 만들기(values)

In [124]:
>>> a.values()

dict_values(['pey', '0119993323', '1118'])

### 3. Key, Value 쌍 얻기(items)

In [125]:
>>> a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

### 4. Key: Value 쌍 모두 지우기(clear)

In [126]:
>>> a.clear()
>>> a

{}

### 5. Key로 Value얻기(get)

In [128]:
>>> a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
>>> a.get('name') #a.get('name')= a['name']

'pey'

In [129]:
>>> a.get('phone')

'0119993323'

In [130]:
>>> a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
>>> print(a.get('nokey'))

None

In [147]:
>>> print(a.get('nokey'))
#존재하지 않는 Key로 값을 가져오라고하면 a['nokey']는 Key 오류 또는 a.get('nokey')는 None을 돌려준다

None

In [132]:
>>> a.get('foo', 'bar') 
#Key 값이 없을 경우 미리 정해 둔 디폴트 값을 대신 가져오게 하고 싶을 때, get(x, '디폴트값')을 사용

'bar'

### 6. 해당 Key가 딕셔너리 안에 있는지 조사하기(in)

In [148]:
>>> a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
>>> 'name' in a

True

In [149]:
>>> 'email' in a

False

# 02-6 집합 자료형

## 1. 집합 자료형은 어떻게 만들까?

In [150]:
>>> s1 = set([1,2,3])
>>> s1

{1, 2, 3}

In [151]:
>>> s2 = set("Hello")
>>> s2

{'H', 'e', 'l', 'o'}

## 2. 집합 자료형의 특징

1) 중복을 허용하지 않는다.
2) 순서가 없다(Unordered).

In [145]:
>>> s1 = set([1,2,3]) #set 자료형은 순서가 없기(unordered) 때문에 인덱싱으로 값을 얻을 수 없다
>>> l1 = list(s1) 
>>> l1
#만약 set 자료형에 저장된 값을 인덱싱으로 접근하려면 다음과 같이 리스트나 튜플로 변환한후 해야 한다

[1, 2, 3]

In [ ]:
>>> l1[0]

In [ ]:
>>> t1 = tuple(s1)
>>> t1

In [ ]:
>>> t1[0]

## 3. 교집합, 합집합, 차집합 구하기

In [152]:
>>> s1 = set([1, 2, 3, 4, 5, 6])
>>> s2 = set([4, 5, 6, 7, 8, 9])

###  1. 교집합

In [153]:
>>> s1 & s2

{4, 5, 6}

In [154]:
>>> s1.intersection(s2)

{4, 5, 6}

###  2. 합집합

In [155]:
>>> s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [156]:
>>> s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

###  3. 차집합

In [157]:
>>> s1 - s2

{1, 2, 3}

In [158]:
>>> s2 - s1

{7, 8, 9}

In [159]:
>>> s1.difference(s2)

{1, 2, 3}

In [160]:
>>> s2.difference(s1)

{7, 8, 9}

## 4. 집합 자료형 관련 함수들

###  1. 값 1개 추가하기(add)

In [161]:
>>> s1 = set([1, 2, 3])
>>> s1.add(4)
>>> s1

{1, 2, 3, 4}

###  2. 값 여러 개 추가하기(update)

In [162]:
>>> s1 = set([1, 2, 3])
>>> s1.update([4, 5, 6])
>>> s1

{1, 2, 3, 4, 5, 6}

###  3. 특정 값 제거하기(remove)

In [163]:
>>> s1 = set([1, 2, 3])
>>> s1.remove(2) #remove는 하나의 값만 제거 가능, set에는 리스트를 넣을 수 없다.
>>> s1

{1, 3}

# 02-7 불 자료형

## 1. 불 자료형이란?

불(bool) 자료형이란 참(True)과 거짓(False)을 나타내는 자료형이다.

In [164]:
a = True
b = False

In [165]:
type(a) #a가 불(bool)자료형이기 때문에 bool로 나옴

bool

In [166]:
1==1

True

In [167]:
2< 1 # 조건문의 반환 값으로도 사용된다.

False

## 2. 자료형의 참과 거짓

문자열" ", 리스트[ ], 튜플 ( ), 딕셔너리 { }가 비어있으면 거짓

비어있지 않다면 참이다

숫자에서는 값이 0이면 거짓 그 외는 모두 참이다. 

None 거짓

In [168]:
a = [1,2,3,4]
while a: #리스트a가 비어있지 않기 때문에 참(true)
    print(a.pop())

4
3
2
1

In [169]:
if []:
    print("참")
else: 
    print("거짓")

거짓

In [170]:
if [1,2,3]:
    print("참")
else:
    print("거짓")

참

## 3. 불 연산

bool 내장 함수를 사용하면 자료형의 참과 거짓을 식별할 수 있다.

In [171]:
bool("python")

True

In [172]:
bool("")

False

In [173]:
bool([1,2,3])

True

In [174]:
bool(0) #숫자가 0인경우 false

False

# 02-8. 자료형의 값을 저장하는 공간, 변수

## 1. 변수는 어떻게 만들까?

In [ ]:
a=1 #a라는 값에 1을 할당한다.
b="python"
c = [1,2,3]

#python은 변수를 만들때 자료형을 스스로 결정한다.

In [175]:
a = [1,2,3]
b = a
print(id(a))
print(id(b))

3251343152904
3251343152904

 b는 a와 완전히 동일하다고 할 수 있다. 다만 [1, 2, 3] 리스트를 참조하는 변수가 a 변수 1개에서 b 변수가 추가되어 2개로 늘어났다는 차이만 있을 뿐이다.

In [176]:
a is b

True

In [177]:
a[1]=4

In [178]:
a

[1, 4, 3]

In [179]:
b

[1, 4, 3]

## 2. b와 a를 독립접으로 사용할 수 있도록 복사하는 법
### 1) [:] 이용

In [180]:
a = [1,2,3]
b=a[:]

In [181]:
a[1]=4

In [182]:
a

[1, 4, 3]

In [183]:
b

[1, 2, 3]

### 2) copy 모듈 이용

In [184]:
from copy import copy
b = copy(a)

In [185]:
b is a

False

## 3. 변수를 만드는 여러가지 방법

In [186]:
a,b = ('python','life')

In [187]:
(a,b)='python','life' #튜플로 변수 생성, 괄호 생략 가능

In [188]:
[a,b] = ['python','life']

In [189]:
a=b='python'

In [190]:
a=3
b=5
a,b = b,a #튜플인 경우 동시에 진행됨, a에 b를 넣고 b에 a를 넣는다.

In [191]:
a #b값이었던 5를 갖게 됨

5

In [192]:
b #a값이었던 3을 갖게됨

3