## 1. 누락값 확인하기

### 누락값은 데이터가 없다는 것을 의미한다.

In [1]:
from numpy import NaN, NAN, nan

In [2]:
print(NaN == True)

False

In [3]:
print(NaN == False)

False

In [4]:
print(NaN == 0)  #0이어도 false가 나오기 때문에 누락 값이 아님

False

In [5]:
print(NaN == '')

False

---

In [6]:
print(NaN == NaN)

False

In [7]:
print(NaN == nan)

False

In [8]:
print(NaN == NAN)

False

In [9]:
print(nan == NAN)

False

---

### isnull(  ) : 누락값을 검사하기

In [10]:
import pandas as pd 

print(pd.isnull(NaN))

True

In [11]:
print(pd.isnull(nan))

True

In [12]:
print(pd.isnull(NAN))

True

In [13]:
obj = pd.Series([3,6,nan,7,8,nan],index = ['apple','orange','banana','pineapple','peach','grape'])

In [14]:
print(obj)

apple        3.0
orange       6.0
banana       NaN
pineapple    7.0
peach        8.0
grape        NaN
dtype: float64

In [15]:
#누락값인지 아닌지 검사하기
pd.isnull(obj)

apple        False
orange       False
banana        True
pineapple    False
peach        False
grape         True
dtype: bool

### notnull(  ): 누락값이 아닌 경우 검사하기

In [16]:
print(pd.notnull(NaN))

False

In [17]:
print(pd.notnull(42))  #숫자나 문자열은 누락이 아니기 때문에 True가 나옴

True

In [18]:
print(pd.notnull('missing'))

True

In [19]:
#누락값인지 아닌지 검사하기
pd.notnull(obj)

apple         True
orange        True
banana       False
pineapple     True
peach         True
grape        False
dtype: bool


## 누락값의 개수 구하기

In [20]:
ebola = pd.read_csv('../ESAA/country_timeseries.csv')
ebola

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN
5,12/28/2014,281,2706.0,8018.0,9446.0,NaN,NaN,NaN,NaN,NaN,1708.0,3423.0,2758.0,NaN,NaN,NaN,NaN,NaN
6,12/27/2014,280,2695.0,NaN,9409.0,NaN,NaN,NaN,NaN,NaN,1697.0,NaN,2732.0,NaN,NaN,NaN,NaN,NaN
7,12/24/2014,277,2630.0,7977.0,9203.0,NaN,NaN,NaN,NaN,NaN,NaN,3413.0,2655.0,NaN,NaN,NaN,NaN,NaN
8,12/21/2014,273,2597.0,NaN,9004.0,NaN,NaN,NaN,NaN,NaN,1607.0,NaN,2582.0,NaN,NaN,NaN,NaN,NaN
9,12/20/2014,272,2571.0,7862.0,8939.0,NaN,NaN,NaN,NaN,NaN,1586.0,3384.0,2556.0,NaN,NaN,NaN,NaN,NaN
10,12/18/2014,271,NaN,7830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3376.0,NaN,NaN,NaN,NaN,NaN,NaN
11,12/14/2014,267,2416.0,NaN,8356.0,NaN,NaN,NaN,NaN,NaN,1525.0,NaN,2085.0,NaN,NaN,NaN,NaN,NaN
12,12/9/2014,262,NaN,7797.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3290.0,NaN,NaN,NaN,NaN,NaN,NaN
13,12/7/2014,260,2292.0,NaN,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,NaN,1768.0,8.0,0.0,1.0,0.0,6.0
14,12/3/2014,256,NaN,7719.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3177.0,NaN,NaN,NaN,NaN,NaN,NaN
15,11/30/2014,253,2164.0,NaN,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,NaN,1583.0,8.0,0.0,1.0,0.0,6.0
16,11/28/2014,251,NaN,7635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3145.0,NaN,NaN,NaN,NaN,NaN,NaN
17,11/23/2014,246,2134.0,NaN,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,NaN,1398.0,8.0,0.0,1.0,0.0,6.0
18,11/22/2014,245,NaN,7168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3016.0,NaN,NaN,NaN,NaN,NaN,NaN
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0
20,11/16/2014,239,1971.0,NaN,6073.0,20.0,1.0,4.0,1.0,5.0,1192.0,NaN,1250.0,8.0,0.0,1.0,0.0,5.0
21,11/15/2014,238,NaN,7069.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2964.0,NaN,NaN,NaN,NaN,NaN,NaN
22,11/11/2014,234,1919.0,NaN,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,NaN,1187.0,8.0,0.0,1.0,0.0,3.0
23,11/10/2014,233,NaN,6878.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2812.0,NaN,NaN,NaN,NaN,NaN,NaN
24,11/9/2014,232,1878.0,NaN,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,NaN,1169.0,8.0,0.0,1.0,0.0,1.0
25,11/8/2014,231,NaN,6822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2836.0,NaN,NaN,NaN,NaN,NaN,NaN
26,11/4/2014,227,NaN,6619.0,4862.0,20.0,1.0,4.0,1.0,1.0,NaN,2766.0,1130.0,8.0,0.0,1.0,0.0,1.0
27,11/3/2014,226,1760.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1054.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,11/2/2014,225,1731.0,NaN,4759.0,20.0,1.0,4.0,1.0,1.0,1041.0,NaN,1070.0,8.0,0.0,1.0,0.0,1.0
29,10/31/2014,222,NaN,6525.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2697.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,174.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
93,5/12/2014,51,248.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,171.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
94,5/10/2014,49,233.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
95,5/7/2014,46,236.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,158.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
96,5/5/2014,44,235.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
97,5/3/2014,42,231.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,155.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
98,5/1/2014,40,226.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,149.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
99,4/26/2014,35,224.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,143.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
100,4/24/2014,33,NaN,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
101,4/23/2014,32,218.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,141.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
102,4/22/2014,31,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
103,4/21/2014,30,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN
104,4/20/2014,29,208.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
105,4/17/2014,26,203.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,129.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,4/16/2014,25,197.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,122.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
107,4/15/2014,24,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,4/14/2014,23,168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,4/11/2014,20,159.0,26.0,2.0,NaN,NaN,NaN,NaN,NaN,106.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
110,4/9/2014,18,158.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,101.0,12.0,2.0,NaN,NaN,NaN,NaN,NaN
111,4/7/2014,16,151.0,21.0,2.0,NaN,NaN,NaN,NaN,NaN,95.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN
112,4/4/2014,13,143.0,18.0,2.0,NaN,NaN,NaN,NaN,NaN,86.0,7.0,2.0,NaN,NaN,NaN,NaN,NaN
113,4/1/2014,10,127.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,83.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN
114,3/31/2014,9,122.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,80.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN
115,3/29/2014,7,112.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
116,3/28/2014,6,112.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,70.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### count( ) : 누락값이 아닌 경우 갯수 세기

In [22]:
print(ebola.count())
ebola.shape[0]

Date                   122
Day                    122
Cases_Guinea            93
Cases_Liberia           83
Cases_SierraLeone       87
Cases_Nigeria           38
Cases_Senegal           25
Cases_UnitedStates      18
Cases_Spain             16
Cases_Mali              12
Deaths_Guinea           92
Deaths_Liberia          81
Deaths_SierraLeone      87
Deaths_Nigeria          38
Deaths_Senegal          22
Deaths_UnitedStates     18
Deaths_Spain            16
Deaths_Mali             12
dtype: int64

122

### isnull(  ): nan값 검사하기 T/F, count_nonzero(  ): 0이 아닌값 세기

In [23]:
import numpy as np 

print(np.count_nonzero(ebola.isnull()))  #안에 있는 모든 누락값의 개수

1214

In [28]:
#Case_Guinea에 대해서 nan값 검사해서 숫자 세기
np.count_nonzero(ebola(['Cases_Guinea'],isnull()))

NameError: name 'isnull' is not defined

### value_counts(  ): 지정한 열의 값 빈도수 
#### Cases_Guinea 열의 결측값 갯수 세기

In [29]:
print(ebola.Cases_Guinea.value_counts(dropna=False).head())

NaN      29
86.0      3
495.0     2
112.0     2
390.0     2
Name: Cases_Guinea, dtype: int64


## 누락값 처리하기 ― 변경, 삭제

### 1. 누락값 변경하기

### fillna(  ) : 괄호안의 값으로 누락값 대체

In [30]:
print(ebola.fillna(0).iloc[0:10, 0:5])  #결측값을 0으로 채움

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            0.0            10030.0
1    1/4/2015  288        2775.0            0.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           0.0         8157.0                0.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0            0.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0            0.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

### fillna(method='ffill') : 누락값이 나타나기 전의 값으로 변경

In [31]:
print(ebola.fillna(method='ffill').iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2769.0         8157.0             9722.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         8018.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7977.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

### fillna(method='bfill') : 누락값이 나타난 이후의 첫 번째 값으로 변경

In [32]:
print(ebola.fillna(method='bfill').iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0         8166.0            10030.0
1    1/4/2015  288        2775.0         8166.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2730.0         8157.0             9633.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7977.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7862.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

### interpolate(  ): 누락값 양쪽의 중간값으로 처리

In [33]:
print(ebola.interpolate().iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2749.5         8157.0             9677.5
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7997.5             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7919.5             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

### 평균값으로 채우기

In [34]:
#에볼라 데이터의 결측값을 평균값으로 채우기
ebola.fillna(ebola.mean())

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.000000,2335.337349,10030.000000,16.736842,1.08,3.277778,1.0,3.5,1786.00000,1101.209877,2977.000000,6.131579,0.0,0.833333,0.1875,3.166667
1,1/4/2015,288,2775.000000,2335.337349,9780.000000,16.736842,1.08,3.277778,1.0,3.5,1781.00000,1101.209877,2943.000000,6.131579,0.0,0.833333,0.1875,3.166667
2,1/3/2015,287,2769.000000,8166.000000,9722.000000,16.736842,1.08,3.277778,1.0,3.5,1767.00000,3496.000000,2915.000000,6.131579,0.0,0.833333,0.1875,3.166667
3,1/2/2015,286,911.064516,8157.000000,2427.367816,16.736842,1.08,3.277778,1.0,3.5,563.23913,3496.000000,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
4,12/31/2014,284,2730.000000,8115.000000,9633.000000,16.736842,1.08,3.277778,1.0,3.5,1739.00000,3471.000000,2827.000000,6.131579,0.0,0.833333,0.1875,3.166667
5,12/28/2014,281,2706.000000,8018.000000,9446.000000,16.736842,1.08,3.277778,1.0,3.5,1708.00000,3423.000000,2758.000000,6.131579,0.0,0.833333,0.1875,3.166667
6,12/27/2014,280,2695.000000,2335.337349,9409.000000,16.736842,1.08,3.277778,1.0,3.5,1697.00000,1101.209877,2732.000000,6.131579,0.0,0.833333,0.1875,3.166667
7,12/24/2014,277,2630.000000,7977.000000,9203.000000,16.736842,1.08,3.277778,1.0,3.5,563.23913,3413.000000,2655.000000,6.131579,0.0,0.833333,0.1875,3.166667
8,12/21/2014,273,2597.000000,2335.337349,9004.000000,16.736842,1.08,3.277778,1.0,3.5,1607.00000,1101.209877,2582.000000,6.131579,0.0,0.833333,0.1875,3.166667
9,12/20/2014,272,2571.000000,7862.000000,8939.000000,16.736842,1.08,3.277778,1.0,3.5,1586.00000,3384.000000,2556.000000,6.131579,0.0,0.833333,0.1875,3.166667
10,12/18/2014,271,911.064516,7830.000000,2427.367816,16.736842,1.08,3.277778,1.0,3.5,563.23913,3376.000000,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
11,12/14/2014,267,2416.000000,2335.337349,8356.000000,16.736842,1.08,3.277778,1.0,3.5,1525.00000,1101.209877,2085.000000,6.131579,0.0,0.833333,0.1875,3.166667
12,12/9/2014,262,911.064516,7797.000000,2427.367816,16.736842,1.08,3.277778,1.0,3.5,563.23913,3290.000000,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
13,12/7/2014,260,2292.000000,2335.337349,7897.000000,20.000000,1.00,4.000000,1.0,7.0,1428.00000,1101.209877,1768.000000,8.000000,0.0,1.000000,0.0000,6.000000
14,12/3/2014,256,911.064516,7719.000000,2427.367816,16.736842,1.08,3.277778,1.0,3.5,563.23913,3177.000000,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
15,11/30/2014,253,2164.000000,2335.337349,7312.000000,20.000000,1.00,4.000000,1.0,7.0,1327.00000,1101.209877,1583.000000,8.000000,0.0,1.000000,0.0000,6.000000
16,11/28/2014,251,911.064516,7635.000000,2427.367816,16.736842,1.08,3.277778,1.0,3.5,563.23913,3145.000000,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
17,11/23/2014,246,2134.000000,2335.337349,6599.000000,20.000000,1.00,4.000000,1.0,7.0,1260.00000,1101.209877,1398.000000,8.000000,0.0,1.000000,0.0000,6.000000
18,11/22/2014,245,911.064516,7168.000000,2427.367816,16.736842,1.08,3.277778,1.0,3.5,563.23913,3016.000000,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
19,11/18/2014,241,2047.000000,7082.000000,6190.000000,20.000000,1.00,4.000000,1.0,6.0,1214.00000,2963.000000,1267.000000,8.000000,0.0,1.000000,0.0000,6.000000
20,11/16/2014,239,1971.000000,2335.337349,6073.000000,20.000000,1.00,4.000000,1.0,5.0,1192.00000,1101.209877,1250.000000,8.000000,0.0,1.000000,0.0000,5.000000
21,11/15/2014,238,911.064516,7069.000000,2427.367816,16.736842,1.08,3.277778,1.0,3.5,563.23913,2964.000000,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
22,11/11/2014,234,1919.000000,2335.337349,5586.000000,20.000000,1.00,4.000000,1.0,4.0,1166.00000,1101.209877,1187.000000,8.000000,0.0,1.000000,0.0000,3.000000
23,11/10/2014,233,911.064516,6878.000000,2427.367816,16.736842,1.08,3.277778,1.0,3.5,563.23913,2812.000000,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
24,11/9/2014,232,1878.000000,2335.337349,5368.000000,20.000000,1.00,4.000000,1.0,1.0,1142.00000,1101.209877,1169.000000,8.000000,0.0,1.000000,0.0000,1.000000
25,11/8/2014,231,911.064516,6822.000000,2427.367816,16.736842,1.08,3.277778,1.0,3.5,563.23913,2836.000000,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
26,11/4/2014,227,911.064516,6619.000000,4862.000000,20.000000,1.00,4.000000,1.0,1.0,563.23913,2766.000000,1130.000000,8.000000,0.0,1.000000,0.0000,1.000000
27,11/3/2014,226,1760.000000,2335.337349,2427.367816,16.736842,1.08,3.277778,1.0,3.5,1054.00000,1101.209877,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
28,11/2/2014,225,1731.000000,2335.337349,4759.000000,20.000000,1.00,4.000000,1.0,1.0,1041.00000,1101.209877,1070.000000,8.000000,0.0,1.000000,0.0000,1.000000
29,10/31/2014,222,911.064516,6525.000000,2427.367816,16.736842,1.08,3.277778,1.0,3.5,563.23913,2697.000000,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.000000,12.000000,0.000000,16.736842,1.08,3.277778,1.0,3.5,174.00000,11.000000,0.000000,6.131579,0.0,0.833333,0.1875,3.166667
93,5/12/2014,51,248.000000,12.000000,0.000000,16.736842,1.08,3.277778,1.0,3.5,171.00000,11.000000,0.000000,6.131579,0.0,0.833333,0.1875,3.166667
94,5/10/2014,49,233.000000,12.000000,0.000000,16.736842,1.08,3.277778,1.0,3.5,157.00000,11.000000,0.000000,6.131579,0.0,0.833333,0.1875,3.166667
95,5/7/2014,46,236.000000,13.000000,0.000000,16.736842,1.08,3.277778,1.0,3.5,158.00000,11.000000,0.000000,6.131579,0.0,0.833333,0.1875,3.166667
96,5/5/2014,44,235.000000,13.000000,0.000000,16.736842,1.08,3.277778,1.0,3.5,157.00000,11.000000,0.000000,6.131579,0.0,0.833333,0.1875,3.166667
97,5/3/2014,42,231.000000,13.000000,0.000000,16.736842,1.08,3.277778,1.0,3.5,155.00000,11.000000,0.000000,6.131579,0.0,0.833333,0.1875,3.166667
98,5/1/2014,40,226.000000,13.000000,0.000000,16.736842,1.08,3.277778,1.0,3.5,149.00000,11.000000,0.000000,6.131579,0.0,0.833333,0.1875,3.166667
99,4/26/2014,35,224.000000,2335.337349,0.000000,16.736842,1.08,3.277778,1.0,3.5,143.00000,1101.209877,0.000000,6.131579,0.0,0.833333,0.1875,3.166667
100,4/24/2014,33,911.064516,35.000000,0.000000,16.736842,1.08,3.277778,1.0,3.5,563.23913,1101.209877,0.000000,6.131579,0.0,0.833333,0.1875,3.166667
101,4/23/2014,32,218.000000,2335.337349,0.000000,16.736842,1.08,3.277778,1.0,3.5,141.00000,1101.209877,0.000000,6.131579,0.0,0.833333,0.1875,3.166667
102,4/22/2014,31,911.064516,2335.337349,0.000000,16.736842,1.08,3.277778,1.0,3.5,563.23913,1101.209877,0.000000,6.131579,0.0,0.833333,0.1875,3.166667
103,4/21/2014,30,911.064516,34.000000,2427.367816,16.736842,1.08,3.277778,1.0,3.5,563.23913,11.000000,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
104,4/20/2014,29,208.000000,2335.337349,2427.367816,16.736842,1.08,3.277778,1.0,3.5,136.00000,6.000000,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
105,4/17/2014,26,203.000000,27.000000,2427.367816,16.736842,1.08,3.277778,1.0,3.5,129.00000,1101.209877,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
106,4/16/2014,25,197.000000,27.000000,2427.367816,16.736842,1.08,3.277778,1.0,3.5,122.00000,13.000000,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
107,4/15/2014,24,911.064516,2335.337349,12.000000,16.736842,1.08,3.277778,1.0,3.5,563.23913,1101.209877,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
108,4/14/2014,23,168.000000,2335.337349,2427.367816,16.736842,1.08,3.277778,1.0,3.5,108.00000,1101.209877,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
109,4/11/2014,20,159.000000,26.000000,2.000000,16.736842,1.08,3.277778,1.0,3.5,106.00000,13.000000,2.000000,6.131579,0.0,0.833333,0.1875,3.166667
110,4/9/2014,18,158.000000,25.000000,2.000000,16.736842,1.08,3.277778,1.0,3.5,101.00000,12.000000,2.000000,6.131579,0.0,0.833333,0.1875,3.166667
111,4/7/2014,16,151.000000,21.000000,2.000000,16.736842,1.08,3.277778,1.0,3.5,95.00000,10.000000,2.000000,6.131579,0.0,0.833333,0.1875,3.166667
112,4/4/2014,13,143.000000,18.000000,2.000000,16.736842,1.08,3.277778,1.0,3.5,86.00000,7.000000,2.000000,6.131579,0.0,0.833333,0.1875,3.166667
113,4/1/2014,10,127.000000,8.000000,2.000000,16.736842,1.08,3.277778,1.0,3.5,83.00000,5.000000,2.000000,6.131579,0.0,0.833333,0.1875,3.166667
114,3/31/2014,9,122.000000,8.000000,2.000000,16.736842,1.08,3.277778,1.0,3.5,80.00000,4.000000,2.000000,6.131579,0.0,0.833333,0.1875,3.166667
115,3/29/2014,7,112.000000,7.000000,2427.367816,16.736842,1.08,3.277778,1.0,3.5,70.00000,2.000000,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
116,3/28/2014,6,112.000000,3.000000,2.000000,16.736842,1.08,3.277778,1.0,3.5,70.00000,3.000000,2.000000,6.131579,0.0,0.833333,0.1875,3.166667
117,3/27/2014,5,103.000000,8.000000,6.000000,16.736842,1.08,3.277778,1.0,3.5,66.00000,6.000000,5.000000,6.131579,0.0,0.833333,0.1875,3.166667
118,3/26/2014,4,86.000000,2335.337349,2427.367816,16.736842,1.08,3.277778,1.0,3.5,62.00000,1101.209877,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
119,3/25/2014,3,86.000000,2335.337349,2427.367816,16.736842,1.08,3.277778,1.0,3.5,60.00000,1101.209877,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
120,3/24/2014,2,86.000000,2335.337349,2427.367816,16.736842,1.08,3.277778,1.0,3.5,59.00000,1101.209877,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
121,3/22/2014,0,49.000000,2335.337349,2427.367816,16.736842,1.08,3.277778,1.0,3.5,29.00000,1101.209877,693.701149,6.131579,0.0,0.833333,0.1875,3.166667

### 5. dropna(   ) : 누락값 삭제하기

In [35]:
print(ebola.shape)

(122, 18)

In [36]:
ebola_dropna = ebola.dropna() 
print(ebola_dropna.shape)  #결측값이 하나라도 있으면 다 삭제됨

(1, 18)

In [37]:
print(ebola_dropna)

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone  \
19  11/18/2014  241        2047.0         7082.0             6190.0

    Cases_Nigeria  Cases_Senegal  Cases_UnitedStates  Cases_Spain  Cases_Mali  \
19           20.0            1.0                 4.0          1.0         6.0

    Deaths_Guinea  Deaths_Liberia  Deaths_SierraLeone  Deaths_Nigeria  \
19         1214.0          2963.0              1267.0             8.0

    Deaths_Senegal  Deaths_UnitedStates  Deaths_Spain  Deaths_Mali
19             0.0                  1.0           0.0          6.0

#### how='all' 모든 행의 값이 NaN인 경우 삭제

In [38]:
data= pd.DataFrame([[1.,6.5,3.],[1.,NAN,NAN],[NAN,NAN,NAN],[NAN,6.5,3.]])
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [39]:
data.dropna(how='all')   #전부 결측치였던 2번 행만 삭제됨.

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

#### thresh = n 행에 값이 n개 이상인 것만 골라내기

In [40]:
data.dropna(thresh=2)

     0    1    2
0  1.0  6.5  3.0
3  NaN  6.5  3.0

In [41]:
#에볼라 데이터에서 결측값이 5개 이상인 것 삭제하기
ebola.dropna(thresh=5).shape

(90, 18)


## 누락값이 포함된 데이터 계산하기

In [42]:
ebola['Cases_multiple'] = ebola['Cases_Guinea'] + ebola['Cases_Liberia'] + ebola['Cases_SierraLeone']

In [43]:
ebola_subset = ebola.loc[:, ['Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone', 'Cases_multiple']] 
print(ebola_subset.head(n=10))

   Cases_Guinea  Cases_Liberia  Cases_SierraLeone  Cases_multiple
0        2776.0            NaN            10030.0             NaN
1        2775.0            NaN             9780.0             NaN
2        2769.0         8166.0             9722.0         20657.0
3           NaN         8157.0                NaN             NaN
4        2730.0         8115.0             9633.0         20478.0
5        2706.0         8018.0             9446.0         20170.0
6        2695.0            NaN             9409.0             NaN
7        2630.0         7977.0             9203.0         19810.0
8        2597.0            NaN             9004.0             NaN
9        2571.0         7862.0             8939.0         19372.0

In [44]:
print(ebola.Cases_Guinea.sum(skipna = True))

84729.0

In [45]:
print(ebola.Cases_Guinea.sum(skipna = False))

nan

In [46]:
#앞서 ebola data에 대한 더하기를 행기준으로 수행하고 'sum'이라는 컬럼에 저장해 새로운 데이터 프레임 만들기
new_data=ebola.loc[:,['Cases_Guinea','Cases_Liberia','Cases_SierraLeone']]
new_data['Cases_multiple2']=new_data.sum(axis=1,skipna=True)  #skipna=True로 인해 결측치는 더하지 않음.
new_data

     Cases_Guinea  Cases_Liberia  Cases_SierraLeone  Cases_multiple2
0          2776.0            NaN            10030.0          12806.0
1          2775.0            NaN             9780.0          12555.0
2          2769.0         8166.0             9722.0          20657.0
3             NaN         8157.0                NaN           8157.0
4          2730.0         8115.0             9633.0          20478.0
5          2706.0         8018.0             9446.0          20170.0
6          2695.0            NaN             9409.0          12104.0
7          2630.0         7977.0             9203.0          19810.0
8          2597.0            NaN             9004.0          11601.0
9          2571.0         7862.0             8939.0          19372.0
10            NaN         7830.0                NaN           7830.0
11         2416.0            NaN             8356.0          10772.0
12            NaN         7797.0                NaN           7797.0
13         2292.0            NaN             7897.0          10189.0
14            NaN         7719.0                NaN           7719.0
15         2164.0            NaN             7312.0           9476.0
16            NaN         7635.0                NaN           7635.0
17         2134.0            NaN             6599.0           8733.0
18            NaN         7168.0                NaN           7168.0
19         2047.0         7082.0             6190.0          15319.0
20         1971.0            NaN             6073.0           8044.0
21            NaN         7069.0                NaN           7069.0
22         1919.0            NaN             5586.0           7505.0
23            NaN         6878.0                NaN           6878.0
24         1878.0            NaN             5368.0           7246.0
25            NaN         6822.0                NaN           6822.0
26            NaN         6619.0             4862.0          11481.0
27         1760.0            NaN                NaN           1760.0
28         1731.0            NaN             4759.0           6490.0
29            NaN         6525.0                NaN           6525.0
..            ...            ...                ...              ...
92          258.0           12.0                0.0            270.0
93          248.0           12.0                0.0            260.0
94          233.0           12.0                0.0            245.0
95          236.0           13.0                0.0            249.0
96          235.0           13.0                0.0            248.0
97          231.0           13.0                0.0            244.0
98          226.0           13.0                0.0            239.0
99          224.0            NaN                0.0            224.0
100           NaN           35.0                0.0             35.0
101         218.0            NaN                0.0            218.0
102           NaN            NaN                0.0              0.0
103           NaN           34.0                NaN             34.0
104         208.0            NaN                NaN            208.0
105         203.0           27.0                NaN            230.0
106         197.0           27.0                NaN            224.0
107           NaN            NaN               12.0             12.0
108         168.0            NaN                NaN            168.0
109         159.0           26.0                2.0            187.0
110         158.0           25.0                2.0            185.0
111         151.0           21.0                2.0            174.0
112         143.0           18.0                2.0            163.0
113         127.0            8.0                2.0            137.0
114         122.0            8.0                2.0            132.0
115         112.0            7.0                NaN            119.0
116         112.0            3.0                2.0            117.0
117         103.0            8.0                6.0            117.0
118          86.0            NaN                NaN             86.0
119          86.0            NaN                NaN             86.0
120          86.0            NaN                NaN             86.0
121          49.0            NaN                NaN             49.0

[122 rows x 4 columns]