# 07. 깔끔한 데이터

## 07-1. 열과 피벗

__넓은 데이터__
열 이름이 어떤 값을 의미할 경우 열이 옆으로 길게 늘어선 형태가 된다. 이런 데이터를 '넓은 데이터'라고 한다.

__melt 메서드__ 넓은 데이터에서 지정한 열의 데이터를 모두 행으로 정리해 준다.
- __메서드 인자__
 - id_var : 위치를 유지할 열 지정
 - value_vars : 행으로 위치를 변경할 열 지정
 - var_name : 위치를 변경한 열 이름 지정
 - value_name : 위치를 변경한 열의 데이터를 저장할 열 이름 지정

## melt 메서드 사용하기

### 1. 1개의 열만 고정하고 나머지 열을 행으로 바꾸기

In [1]:
import pandas as pd
pew = pd.read_csv('../ESAA/pew.csv')
print(pew.head())

             religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  $50-75k  \
0            Agnostic     27       34       60       81       76      137
1             Atheist     12       27       37       52       35       70
2            Buddhist     27       21       30       34       33       58
3            Catholic    418      617      732      670      638     1116
4  Don’t know/refused     15       14       15       11       10       35

   $75-100k  $100-150k  >150k  Don't know/refused
0       122        109     84                  96
1        73         59     74                  76
2        62         39     53                  54
3       949        792    633                1489
4        21         17     18                 116

In [2]:
print(pew.iloc[:,0:6])

                   religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k
0                  Agnostic     27       34       60       81       76
1                   Atheist     12       27       37       52       35
2                  Buddhist     27       21       30       34       33
3                  Catholic    418      617      732      670      638
4        Don’t know/refused     15       14       15       11       10
5          Evangelical Prot    575      869     1064      982      881
6                     Hindu      1        9        7        9       11
7   Historically Black Prot    228      244      236      238      197
8         Jehovah's Witness     20       27       24       24       21
9                    Jewish     19       19       25       25       30
10            Mainline Prot    289      495      619      655      651
11                   Mormon     29       40       48       51       56
12                   Muslim      6        7        9       10        9
13                 Orthodox     13       17       23       32       32
14          Other Christian      9        7       11       13       13
15             Other Faiths     20       33       40       46       49
16    Other World Religions      5        2        3        4        2
17             Unaffiliated    217      299      374      365      341

In [3]:
pew_long = pd.melt(pew, id_vars='religion') #religion은 고정
print(pew_long)  #column이 variable에 포함

                    religion            variable  value
0                   Agnostic               <$10k     27
1                    Atheist               <$10k     12
2                   Buddhist               <$10k     27
3                   Catholic               <$10k    418
4         Don’t know/refused               <$10k     15
5           Evangelical Prot               <$10k    575
6                      Hindu               <$10k      1
7    Historically Black Prot               <$10k    228
8          Jehovah's Witness               <$10k     20
9                     Jewish               <$10k     19
10             Mainline Prot               <$10k    289
11                    Mormon               <$10k     29
12                    Muslim               <$10k      6
13                  Orthodox               <$10k     13
14           Other Christian               <$10k      9
15              Other Faiths               <$10k     20
16     Other World Religions               <$10k      5
17              Unaffiliated               <$10k    217
18                  Agnostic             $10-20k     34
19                   Atheist             $10-20k     27
20                  Buddhist             $10-20k     21
21                  Catholic             $10-20k    617
22        Don’t know/refused             $10-20k     14
23          Evangelical Prot             $10-20k    869
24                     Hindu             $10-20k      9
25   Historically Black Prot             $10-20k    244
26         Jehovah's Witness             $10-20k     27
27                    Jewish             $10-20k     19
28             Mainline Prot             $10-20k    495
29                    Mormon             $10-20k     40
..                       ...                 ...    ...
150                    Hindu               >150k     54
151  Historically Black Prot               >150k     78
152        Jehovah's Witness               >150k      6
153                   Jewish               >150k    151
154            Mainline Prot               >150k    634
155                   Mormon               >150k     42
156                   Muslim               >150k      6
157                 Orthodox               >150k     46
158          Other Christian               >150k     12
159             Other Faiths               >150k     41
160    Other World Religions               >150k      4
161             Unaffiliated               >150k    258
162                 Agnostic  Don't know/refused     96
163                  Atheist  Don't know/refused     76
164                 Buddhist  Don't know/refused     54
165                 Catholic  Don't know/refused   1489
166       Don’t know/refused  Don't know/refused    116
167         Evangelical Prot  Don't know/refused   1529
168                    Hindu  Don't know/refused     37
169  Historically Black Prot  Don't know/refused    339
170        Jehovah's Witness  Don't know/refused     37
171                   Jewish  Don't know/refused    162
172            Mainline Prot  Don't know/refused   1328
173                   Mormon  Don't know/refused     69
174                   Muslim  Don't know/refused     22
175                 Orthodox  Don't know/refused     73
176          Other Christian  Don't know/refused     18
177             Other Faiths  Don't know/refused     71
178    Other World Religions  Don't know/refused      8
179             Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

In [4]:
pew_long = pd.melt(pew, id_vars="religion", var_name='income', value_name='count')
print(pew_long)

                    religion              income  count
0                   Agnostic               <$10k     27
1                    Atheist               <$10k     12
2                   Buddhist               <$10k     27
3                   Catholic               <$10k    418
4         Don’t know/refused               <$10k     15
5           Evangelical Prot               <$10k    575
6                      Hindu               <$10k      1
7    Historically Black Prot               <$10k    228
8          Jehovah's Witness               <$10k     20
9                     Jewish               <$10k     19
10             Mainline Prot               <$10k    289
11                    Mormon               <$10k     29
12                    Muslim               <$10k      6
13                  Orthodox               <$10k     13
14           Other Christian               <$10k      9
15              Other Faiths               <$10k     20
16     Other World Religions               <$10k      5
17              Unaffiliated               <$10k    217
18                  Agnostic             $10-20k     34
19                   Atheist             $10-20k     27
20                  Buddhist             $10-20k     21
21                  Catholic             $10-20k    617
22        Don’t know/refused             $10-20k     14
23          Evangelical Prot             $10-20k    869
24                     Hindu             $10-20k      9
25   Historically Black Prot             $10-20k    244
26         Jehovah's Witness             $10-20k     27
27                    Jewish             $10-20k     19
28             Mainline Prot             $10-20k    495
29                    Mormon             $10-20k     40
..                       ...                 ...    ...
150                    Hindu               >150k     54
151  Historically Black Prot               >150k     78
152        Jehovah's Witness               >150k      6
153                   Jewish               >150k    151
154            Mainline Prot               >150k    634
155                   Mormon               >150k     42
156                   Muslim               >150k      6
157                 Orthodox               >150k     46
158          Other Christian               >150k     12
159             Other Faiths               >150k     41
160    Other World Religions               >150k      4
161             Unaffiliated               >150k    258
162                 Agnostic  Don't know/refused     96
163                  Atheist  Don't know/refused     76
164                 Buddhist  Don't know/refused     54
165                 Catholic  Don't know/refused   1489
166       Don’t know/refused  Don't know/refused    116
167         Evangelical Prot  Don't know/refused   1529
168                    Hindu  Don't know/refused     37
169  Historically Black Prot  Don't know/refused    339
170        Jehovah's Witness  Don't know/refused     37
171                   Jewish  Don't know/refused    162
172            Mainline Prot  Don't know/refused   1328
173                   Mormon  Don't know/refused     69
174                   Muslim  Don't know/refused     22
175                 Orthodox  Don't know/refused     73
176          Other Christian  Don't know/refused     18
177             Other Faiths  Don't know/refused     71
178    Other World Religions  Don't know/refused      8
179             Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

### 5. 2개 이상의 열을 고정하고 나머지 열을 행으로 바꾸기

In [5]:
billboard = pd.read_csv('../ESAA/billboard.csv')

print(billboard.iloc[0:5, 0:16])

   year        artist                    track  time date.entered  wk1   wk2  \
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87  82.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91  87.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   81  70.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21   76  76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   57  34.0

    wk3   wk4   wk5   wk6   wk7   wk8   wk9  wk10  wk11
0  72.0  77.0  87.0  94.0  99.0   NaN   NaN   NaN   NaN
1  92.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  68.0  67.0  66.0  57.0  54.0  53.0  51.0  51.0  51.0
3  72.0  69.0  67.0  65.0  55.0  59.0  62.0  61.0  61.0
4  25.0  17.0  17.0  31.0  36.0  49.0  53.0  57.0  64.0

In [6]:
billboard_long = pd.melt(billboard, id_vars=['year','artist','track','time','date.entered'], var_name='week',value_name='rating')
print(billboard_long.head())

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

## 07-2. 열 이름 관리하기

__split 메서드로 열 이름 분리__

## ebola 데이터 집합 살펴보기

In [7]:
ebola = pd.read_csv('../ESAA/country_timeseries.csv')
print(ebola.columns)

Index(['Date', 'Day', 'Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone',
       'Cases_Nigeria', 'Cases_Senegal', 'Cases_UnitedStates', 'Cases_Spain',
       'Cases_Mali', 'Deaths_Guinea', 'Deaths_Liberia', 'Deaths_SierraLeone',
       'Deaths_Nigeria', 'Deaths_Senegal', 'Deaths_UnitedStates',
       'Deaths_Spain', 'Deaths_Mali'],
      dtype='object')

In [8]:
print(ebola.iloc[:5, [0,1,2,3,10,11]])

         Date  Day  Cases_Guinea  Cases_Liberia  Deaths_Guinea  Deaths_Liberia
0    1/5/2015  289        2776.0            NaN         1786.0             NaN
1    1/4/2015  288        2775.0            NaN         1781.0             NaN
2    1/3/2015  287        2769.0         8166.0         1767.0          3496.0
3    1/2/2015  286           NaN         8157.0            NaN          3496.0
4  12/31/2014  284        2730.0         8115.0         1739.0          3471.0

#### 다음과 같은 결과가 나오도록 melt 메서드 적용하기

In [12]:
ebola_long=pd.melt(ebola,id_vars=['Date','Day'])
print(ebola_long.head())

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

__`split`__ Cases_Guinea와 같이 2개 이상의 의미를 가지고 있는 열 이름은 밑줄('_')을 기준으로 Cases, Guinea와 같은 방법으로 분리할 수 있다. split 메서드는 기본적으로 공백을 기준으로 문자열을 자른다.

## 열 이름 분리하고 데이터프레임에 추가하기

In [13]:
variable_split = ebola_long.variable.str.split('_')
print(variable_split[:5])

0    [Cases, Guinea]
1    [Cases, Guinea]
2    [Cases, Guinea]
3    [Cases, Guinea]
4    [Cases, Guinea]
Name: variable, dtype: object

In [14]:
print(type(variable_split)) #variable_split에 저장된 자료형은 시리즈
print(type(variable_split[0])) #시리즈에 저장된 값(열 이름)의 자료형은 리스트

<class 'pandas.core.series.Series'>
<class 'list'>

- 리스트의 0번째 인덱스에 담긴 문자열은 발병(Cases)/죽음(Deaths)
- 1번째 인덱스에 담긴 문자열은 나라 이름

__get 메서드__ 를 사용하여 0,1번째 인덱스의 데이터 한꺼번에 추출

In [15]:
status_values = variable_split.str.get(0)
country_values = variable_split.str.get(1)

print(status_values[:5])

0    Cases
1    Cases
2    Cases
3    Cases
4    Cases
Name: variable, dtype: object

In [16]:
print(country_values[:5])

0    Guinea
1    Guinea
2    Guinea
3    Guinea
4    Guinea
Name: variable, dtype: object

이제 위에서 분리한 문자열을 status, country라는 열 이름으로 데이터 프레임에 추가하자

In [17]:
ebola_long['status']=status_values
ebola_long['country']=country_values

print(ebola_long.head())

         Date  Day      variable   value status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

## concat 메서드를 응용하여 데이터프레임에 열 추가하기

In [18]:
variable_split = ebola_long.variable.str.split('_',expand=True) #expand=T는 결과물을 데이터프레임으로 만든다.
variable_split.columns = ['status','country']
ebola_parsed = pd.concat([ebola_long, variable_split],axis=1) #axis=1 : 열 방향으로 합치기

In [19]:
print(ebola_parsed)

            Date  Day      variable   value  status country  status country
0       1/5/2015  289  Cases_Guinea  2776.0   Cases  Guinea   Cases  Guinea
1       1/4/2015  288  Cases_Guinea  2775.0   Cases  Guinea   Cases  Guinea
2       1/3/2015  287  Cases_Guinea  2769.0   Cases  Guinea   Cases  Guinea
3       1/2/2015  286  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
4     12/31/2014  284  Cases_Guinea  2730.0   Cases  Guinea   Cases  Guinea
5     12/28/2014  281  Cases_Guinea  2706.0   Cases  Guinea   Cases  Guinea
6     12/27/2014  280  Cases_Guinea  2695.0   Cases  Guinea   Cases  Guinea
7     12/24/2014  277  Cases_Guinea  2630.0   Cases  Guinea   Cases  Guinea
8     12/21/2014  273  Cases_Guinea  2597.0   Cases  Guinea   Cases  Guinea
9     12/20/2014  272  Cases_Guinea  2571.0   Cases  Guinea   Cases  Guinea
10    12/18/2014  271  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
11    12/14/2014  267  Cases_Guinea  2416.0   Cases  Guinea   Cases  Guinea
12     12/9/2014  262  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
13     12/7/2014  260  Cases_Guinea  2292.0   Cases  Guinea   Cases  Guinea
14     12/3/2014  256  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
15    11/30/2014  253  Cases_Guinea  2164.0   Cases  Guinea   Cases  Guinea
16    11/28/2014  251  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
17    11/23/2014  246  Cases_Guinea  2134.0   Cases  Guinea   Cases  Guinea
18    11/22/2014  245  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
19    11/18/2014  241  Cases_Guinea  2047.0   Cases  Guinea   Cases  Guinea
20    11/16/2014  239  Cases_Guinea  1971.0   Cases  Guinea   Cases  Guinea
21    11/15/2014  238  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
22    11/11/2014  234  Cases_Guinea  1919.0   Cases  Guinea   Cases  Guinea
23    11/10/2014  233  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
24     11/9/2014  232  Cases_Guinea  1878.0   Cases  Guinea   Cases  Guinea
25     11/8/2014  231  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
26     11/4/2014  227  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
27     11/3/2014  226  Cases_Guinea  1760.0   Cases  Guinea   Cases  Guinea
28     11/2/2014  225  Cases_Guinea  1731.0   Cases  Guinea   Cases  Guinea
29    10/31/2014  222  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
...          ...  ...           ...     ...     ...     ...     ...     ...
1922   5/23/2014   62   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1923   5/12/2014   51   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1924   5/10/2014   49   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1925    5/7/2014   46   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1926    5/5/2014   44   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1927    5/3/2014   42   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1928    5/1/2014   40   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1929   4/26/2014   35   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1930   4/24/2014   33   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1931   4/23/2014   32   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1932   4/22/2014   31   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1933   4/21/2014   30   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1934   4/20/2014   29   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1935   4/17/2014   26   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1936   4/16/2014   25   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1937   4/15/2014   24   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1938   4/14/2014   23   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1939   4/11/2014   20   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1940    4/9/2014   18   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1941    4/7/2014   16   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1942    4/4/2014   13   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1943    4/1/2014   10   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1944   3/31/2014    9   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1945   3/29/2014    7   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1946   3/28/2014    6   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1947   3/27/2014    5   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1948   3/26/2014    4   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1949   3/25/2014    3   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1950   3/24/2014    2   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1951   3/22/2014    0   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali

[1952 rows x 8 columns]

## 07-3 여러 열을 하나로 정리하기

## melt, pivot_table 메서드

In [20]:
weather = pd.read_csv('../ESAA/weather.csv')
print(weather.iloc[:5,:11])

        id  year  month element  d1    d2    d3  d4    d5  d6  d7
0  MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN NaN
1  MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN NaN
2  MX17004  2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN NaN
3  MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN NaN
4  MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN NaN

### 열의 날짜 데이터 행으로 위치 변경하기

In [22]:
weather_melt=pd.melt(weather,id_vars=['id','year','month','element'],var_name='day',value_name='temp')
print(weather_melt.head())

        id  year  month element day  temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
4  MX17004  2010      3    tmax  d1   NaN

### 행과 열의 위치 변경하기
##### : element의 value를 열로, temp를 value열의 데이터로 가져오기

__pivot_table 메서드__ 데이터를 재구성해 자료의 집계나 평균과 같은 통계량을 정리한 피벗 테이블을 만든다. 
- __메서드 인자__
 - __index__ : 만들어지는 피벗테이블의 로우를 그룹으로 묶을 컬럼 이름이나 그룹 키
 - __values__ : 집계하려는 컬럼 이름 혹은 이름의 리스트.
 - __columns__ : 만들어지는 피벗테이블의 컬럼을 그룹으로 묶을 컬럼 이름이나 그룹 키
 - __aggfunc__ : 집계함수나 함수 리스트. 기본값은 'mean'
 - __fill_value__ : 결과테이블에서 누락된 값을 대체하기 위한 값
 - __dropna__ : True이면 모든 항목이 NA인 컬럼은 포함하지 않는다.
 - __margin__ : 부분합이나 총계를 담기 위한 로우/컬럼을 추가할지 여부

In [23]:
weather_tidy = weather_melt.pivot_table(
    index=['id','year','month','day'],
    columns='element',
    values='temp'
)

print(weather_tidy.head())

element                 tmax  tmin
id      year month day
MX17004 2010 1     d30  27.8  14.5
             2     d11  29.7  13.4
                   d2   27.3  14.4
                   d23  29.9  10.7
                   d3   24.1  14.4

### 부분합 구하기 : margins=True
margins=True를 넘겨서 부분합을 포함시키면 All 컬럼과 All 로우가 추가되어 단일 줄 안에서 그룹 통계를 얻을 수 있다.

In [25]:
weather_tidy = weather_melt.pivot_table(
    index=['id','year','month','day'],
    columns='element',
    values='temp',
    margins=True  #all이라는 새로운 column이 생겼음.
)

print(weather_tidy.head(10))

element                 tmax  tmin    All
id      year month day
MX17004 2010 1     d30  27.8  14.5  21.15
             2     d11  29.7  13.4  21.55
                   d2   27.3  14.4  20.85
                   d23  29.9  10.7  20.30
                   d3   24.1  14.4  19.25
             3     d10  34.5  16.8  25.65
                   d16  31.1  17.6  24.35
                   d5   32.1  14.2  23.15
             4     d27  36.3  16.7  26.50
             5     d27  33.2  18.2  25.70

### margin에서 집계 함수 변경 : aggfunc = 'count', len
집계함수에서 'count'나 len 함수는 그룹 크기의 교차일람표(총 개수나 빈도)를 반환한다. 'mean'등의 통계량 사용 가능하다.

In [26]:
weather_tidy = weather_melt.pivot_table(
    index=['id','year','month','day'],
    columns='element',
    values='temp',
    margins=True,
    aggfunc='count'
)

print(weather_tidy.head(10))

element                 tmax  tmin  All
id      year month day
MX17004 2010 1     d1      0     0  NaN
                   d10     0     0  NaN
                   d11     0     0  NaN
                   d12     0     0  NaN
                   d13     0     0  NaN
                   d14     0     0  NaN
                   d15     0     0  NaN
                   d16     0     0  NaN
                   d17     0     0  NaN
                   d18     0     0  NaN

결측치가 있다면 fill_value로 처리할 수 있다.

In [27]:
weather_tidy = weather_melt.pivot_table(
    index=['id','year','month','day'],
    columns='element',
    values='temp',
    margins=True,
    aggfunc='mean',
    fill_value=0
)

print(weather_tidy.head(10))  #temp에 결측이 있으면 0으로 두고 계산함.

element                 tmax  tmin    All
id      year month day
MX17004 2010 1     d30  27.8  14.5  21.15
             2     d11  29.7  13.4  21.55
                   d2   27.3  14.4  20.85
                   d23  29.9  10.7  20.30
                   d3   24.1  14.4  19.25
             3     d10  34.5  16.8  25.65
                   d16  31.1  17.6  24.35
                   d5   32.1  14.2  23.15
             4     d27  36.3  16.7  26.50
             5     d27  33.2  18.2  25.70

### reset_index

In [29]:
weather_tidy.element

AttributeError: 'DataFrame' object has no attribute 'element'

In [30]:
weather_tidy_flat = weather_tidy.reset_index()
print(weather_tidy_flat.head())

element       id  year month  day  tmax  tmin    All
0        MX17004  2010     1  d30  27.8  14.5  21.15
1        MX17004  2010     2  d11  29.7  13.4  21.55
2        MX17004  2010     2   d2  27.3  14.4  20.85
3        MX17004  2010     2  d23  29.9  10.7  20.30
4        MX17004  2010     2   d3  24.1  14.4  19.25

## 07-4. 중복 데이터 처리하기

## 빌보드 차트의 중복 데이터 처리하기

In [31]:
billboard = pd.read_csv('../ESAA/billboard.csv')
billboard_long = pd.melt(billboard, id_vars=['year','artist','track','time','date.entered'], var_name='week', value_name='rating')
print(billboard_long.head())

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

### track이 Loser인 것만 모아보기

In [32]:
print(billboard_long[billboard_long.track == 'Loser'].head())

      year        artist  track  time date.entered week  rating
3     2000  3 Doors Down  Loser  4:24   2000-10-21  wk1    76.0
320   2000  3 Doors Down  Loser  4:24   2000-10-21  wk2    76.0
637   2000  3 Doors Down  Loser  4:24   2000-10-21  wk3    72.0
954   2000  3 Doors Down  Loser  4:24   2000-10-21  wk4    69.0
1271  2000  3 Doors Down  Loser  4:24   2000-10-21  wk5    67.0

중복 데이터가 많은 것을 볼 수 있다.

### 중복 데이터를 가진 열(year, artist, track, time) 새 데이터 프레임에 저장

In [33]:
billboard_songs = billboard_long[['year','artist','track','time']]
print(billboard_songs.shape)

(24092, 4)

### 중복 데이터 제거 - drop_duplicates()

In [34]:
billboard_songs = billboard_songs.drop_duplicates()
print(billboard_songs.shape)  #완전 똑같은 것은 제거하고 1개만 남김

(317, 4)

### 중복을 제거한 데이터에 id(행 순서)추가

In [35]:
billboard_songs['id']=range(len(billboard_songs))
print(billboard_songs.head(10))

   year          artist                    track  time  id
0  2000           2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000         2Ge+her  The Hardest Part Of ...  3:15   1
2  2000    3 Doors Down               Kryptonite  3:53   2
3  2000    3 Doors Down                    Loser  4:24   3
4  2000        504 Boyz            Wobble Wobble  3:35   4
5  2000            98^0  Give Me Just One Nig...  3:24   5
6  2000         A*Teens            Dancing Queen  3:44   6
7  2000         Aaliyah            I Don't Wanna  4:15   7
8  2000         Aaliyah                Try Again  4:03   8
9  2000  Adams, Yolanda            Open My Heart  5:30   9

### 노래 정보와 주간 순위 데이터 합치기

In [36]:
billboard_ratings = billboard_long.merge(billboard_songs, on=['year','artist','track','time'])
print(billboard_ratings.shape)

(24092, 8)

In [37]:
print(billboard_ratings.head())

   year artist                    track  time date.entered week  rating  id
0  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0   0
1  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk2    82.0   0
2  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk3    72.0   0
3  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk4    77.0   0
4  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk5    87.0   0

## 07-5. 대용량 데이터 처리하기

__여러 개로 나누어진 데이터 불러오기__

데이터를 나누어 저장하면 용량이 작아져 저장이나 공유에 유용하다. 또는 매일 수집하는 주식 정보처럼 여러 개의 작은 데이터가 생성되기도 한다.

## 뉴욕 택시 데이터 준비

### 데이터 내려받기

In [39]:
import os 
import urllib.request

# 네트워크 상태에 따라 5 ~ 15분이 소요됩니다.
with open('../ESAA/raw_data_urls.txt', 'r') as data_urls:
    for line, url in enumerate(data_urls):
        if line == 5:
            break 
        fn = url.split('/')[-1].strip()
        fp = os.path.join('', '../data', fn)
        print(url)
        print(fp)
        urllib.request.urlretrieve(url, fp)

FileNotFoundError: [Errno 2] No such file or directory: '../ESAA/raw_data_urls.txt'

### 저장된 5개의 파일 한꺼번에 불러오기
내려받은 파일은 data폴더에 'fhv_tripdata_YYYY_MM.csv'로 저장된다.

In [40]:
import glob
nyc_taxi_data = glob.glob('../ESAA/fhv_*')
print(nyc_taxi_data)

['../ESAA\\fhv_tripdata_2015-01.csv', '../ESAA\\fhv_tripdata_2015-02.csv', '../ESAA\\fhv_tripdata_2015-03.csv', '../ESAA\\fhv_tripdata_2015-04.csv', '../ESAA\\fhv_tripdata_2015-05.csv']

### 각각의 파일을 데이터 프레임으로 저장

In [41]:
taxi1 = pd.read_csv(nyc_taxi_data[0])
taxi2 = pd.read_csv(nyc_taxi_data[1])
taxi3 = pd.read_csv(nyc_taxi_data[2])
taxi4 = pd.read_csv(nyc_taxi_data[3])
taxi5 = pd.read_csv(nyc_taxi_data[4])

### 잘 불러왔는지 확인

In [42]:
print(taxi1.head(2))
print(taxi2.head(2))
print(taxi3.head(2))
print(taxi4.head(2))
print(taxi5.head(2))

  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-02-01 00:00:00         NaN
1               B00013  2015-02-01 00:01:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00029  2015-03-01 00:02:00       213.0
1               B00029  2015-03-01 00:03:00        51.0
  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-04-01 04:30:00         NaN
1               B00001  2015-04-01 06:00:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-05-01 04:30:00         NaN
1               B00001  2015-05-01 05:00:00         NaN

### 각 데이터의 행과 열 확인

In [43]:
print(taxi1.shape)
print(taxi2.shape)
print(taxi3.shape)
print(taxi4.shape)
print(taxi5.shape)

(2746033, 3)
(3126401, 3)
(3281427, 3)
(3917789, 3)
(4296067, 3)

데이터가 꽤 크다.

### taxi1~5를 행 방향으로 연결

In [44]:
taxi = pd.concat([taxi1,taxi2,taxi3,taxi4,taxi5]) #axis=0 : 행방향
print(taxi.shape)

(17367717, 3)

## 반복문으로 데이터 준비하기

### 5개의 csv 파일을 데이터 프레임으로 변환하여 리스트에 저장

In [45]:
list_taxi_df = []

for csv_filename in nyc_taxi_data:
    # print(csv_filename)
    df = pd.read_csv(csv_filename)
    list_taxi_df.append(df)
    
print(len(list_taxi_df))

5

In [46]:
print(type(list_taxi_df[0]))

<class 'pandas.core.frame.DataFrame'>

In [47]:
print(list_taxi_df[0].head())

  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
2               B00013  2015-01-01 01:23:00         NaN
3               B00013  2015-01-01 01:44:00         NaN
4               B00013  2015-01-01 02:00:00         NaN

list_taxi_df라는 리스트 안에 데이터 프레임이 저장되어있다.

### 리스트에 있는 5개의 데이터 프레임 합치기

In [48]:
taxi_loop_concat = pd.concat(list_taxi_df)
print(taxi_loop_concat.shape)

(17367717, 3)

In [49]:
print(taxi.equals(taxi_loop_concat))

True

앞에서 만든 taxi 데이터 프레임과 반복문을 이용한 taxi_loop_concat 데이터 프레임이 동일하다.