### 2. while문을 이용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해보자.

In [5]:
num=0
result=0
while num<=1000:
    num=num+1
    if num%3==0:
        result+=num
    else: continue
print(result)

166833

### 3.while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자

In [ ]:
'''
*
**
***
****
*****
'''

In [10]:
a=0
while a<5:
    a=a+1
    print("*" *a)

*
**
***
****
*****

### 4. for문을 활용해 1부터 100까지의 숫자를 출력해보자

In [6]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

### 5. A학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.
[70,60,55,75,95,90,80,80,85,100]
### for문을 활용해 A학급의 평균을 구해보자

In [13]:
a=[70,60,55,75,95,90,80,80,85,100]
num=0
for i in a:
    num+=i
print(num /len(a))

79.0

### 6. 리스트 중에서 홀수에만 2를 곱하여 저장하라
number = [1,2,3,4,5]

In [16]:
number=[1,2,3,4,5]

### 리스트 내포를 활용해 표현해보자.

In [17]:
num=[]
for i in number:
    num=[i*2 for i in number if i%2==1]
print(num)

[2, 6, 10]