# 03-1 나만의 데이터만들기
## 시리즈와 데이터프레임 직접 만들기
### 1. 시리즈 만들기

In [1]:
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [2]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

In [3]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

#### 1) 파이썬 사전 객체로 Series 객체 생성

In [4]:
sdata = {'Ohio':3000, 'Texas':7100, 'Oregon':16000, 'Utah': 4000}
s = pd.Series(sdata)

In [5]:
print(s)

Ohio       3000
Texas      7100
Oregon    16000
Utah       4000
dtype: int64

In [6]:
states = ['California','Ohio','Texas','Utah']
s = pd.Series(sdata,index=states)

In [7]:
print(s) # 켈리포니아 데이터를 찾을 수 없어 누락 값이 생김

California       NaN
Ohio          3000.0
Texas         7100.0
Utah          4000.0
dtype: float64

#### 2) Series 객체와 Series index의 name 속성

In [ ]:
s.name = "population"

In [ ]:
s.index.name = "state"

In [ ]:
s

### 3. 데이터프레임 만들기

#### index의 모양이같은 Series 객체를 담고 있는 사전

In [ ]:
scientists = pd.DataFrame({ 
    'Name': ['Rosaline Franklin', 'William Gosset'], 
    'Occupation': ['Chemist', 'Statistician'], 
    'Born': ['1920-07-25', '1876-06-13'], 
    'Died': ['1958-04-16', '1937-10-16'], 
    'Age': [37, 61]}) 
scientists

In [ ]:
scientists = pd.DataFrame( 
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died']) 
scientists

### OrderDict( ) : 딕셔너리 데이터의 순서를 보장해주는 클래스

In [ ]:
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([ 
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']), 
    ('Born', ['1920-07-25', '1876-06-13']), 
    ('Died', ['1958-04-16', '1937-10-16']), 
    ('Age', [37, 61])
])
) 
scientists

### scientists 데이터의 columns과 index이름 지정하기

In [ ]:
pd.DataFrame(scientists,columns=['Name','Age','Occupation','Born','Died'],index=[1,2])

### 중첩 dictionary를 사용해 dataframe 생성

In [ ]:
pop= {'Nevada':{2001:2.4, 2002:2.9},
    'Ohio':{2000:1.5,2001:1.7,2002:3.6}}

In [ ]:
frame = pd.DataFrame(pop)

In [ ]:
frame

In [ ]:
frame.T

# 03-2 시리즈다루기
## 데이터프레임에서 시리즈 선택하기

In [ ]:
scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age'])

In [ ]:
first_row = scientists.loc['William Gosset'] 
print(type(first_row))

In [ ]:
print(scientists)

In [ ]:
print(first_row)

#### 1) 사전 형식의 표기법으로 접근

In [ ]:
scientists['Occupation']

#### 2) 속성 형식으로 접근

In [ ]:
scientists.Occupation


## index, values 속성과 keys 메서드 사용하기

### 1. index 속성 사용하기

In [ ]:
print(first_row.index)

### 2. values 속성 사용하기

In [ ]:
print(first_row.values)

### 3. keys 메서드 사용하기

In [ ]:
print(first_row.keys())

### 4. index 속성 응용하기

In [ ]:
print(first_row.index[0])

### 5. keys 메서드와 index 속성 응용하기

In [ ]:
print(first_row.keys()[0])


## 시리즈의 mean, min, max, std 메서드 사용하기

In [ ]:
ages = scientists['Age'] 
print(ages)

In [ ]:
print(ages.mean())

In [ ]:
print(ages.min())

In [ ]:
print(ages.max())

In [ ]:
print(ages.std())

# 03-3 시리즈다루기
## 시리즈와 불린 추출 사용하기

In [ ]:
scientists = pd.read_csv('../data/scientists.csv')

In [ ]:
ages = scientists['Age'] 

print(ages.max())

In [ ]:
print(ages.mean())

In [ ]:
print(ages[ages > ages.mean()])

In [ ]:
#조건만 넣었을 경우 어떤지 확인

In [ ]:
print(type(ages > ages.mean()))

In [ ]:
manual_bool_values = [True, True, False, False, True, True, False, True] 
print(ages[manual_bool_values])

In [ ]:
0 in ages


## 벡터와 스칼라로 브로드캐스팅 수행하기

In [ ]:
print(ages + ages)

In [ ]:
print(ages * ages)

In [ ]:
print(ages + 100)

In [ ]:
print(ages * 2)

In [ ]:
print(pd.Series([1, 100]))

In [ ]:
print(ages + pd.Series([1, 100]))

In [ ]:
rev_ages = ages.sort_index(ascending=False) 
print(rev_ages)

In [ ]:
print(ages * 2)

In [ ]:
print(ages + rev_ages)

# 데이터프레임 다루기
## 불린 추출과 브로드캐스팅

In [ ]:
#과학자의 평균나이보다 나이가 많은 과학자에 해당하는 행 모두 추출

print(scientists.loc[[True, True, False, True]])

In [ ]:
print(scientists * 2)

# 03-5 시리즈와 데이터프레임의 데이터 처리하기ㅏ
## 시리즈와 데이터프레임의 데이터 처리하기

In [ ]:
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

In [ ]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d') 
print(born_datetime)

In [ ]:
#죽는 날짜도 뽑아보기

In [ ]:
#달라진 데이터 타입으로 구성된 칼럼을 원래 데이터프레임에 ㅊ ㅜ가하기

In [ ]:
print(scientists.shape)

In [ ]:
#살아있는 날짜를 계산해서 넣어주기

### 5. 시리즈, 데이터프레임의 데이터 섞기

In [ ]:
print(scientists['Age'])

In [ ]:
import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

### 7. 데이터프레임의 행,열 삭제하기

In [ ]:
print(scientists.columns)

In [ ]:
scientists_dropped = scientists.drop(['Age'], axis=1)

print(scientists_dropped)

In [ ]:
scientists_dropped = scientists.drop(['Rosaline Franklin'])
scientists_dropped

In [ ]:
del scientists['Occupation']

In [ ]:
print(scientists)

### 8. 데이터 프레임 열 추가하기

In [ ]:
Occupation = pd.Series(['doctor','singer'],index = [0,1])
scientists['Occupation']=Occupation

In [ ]:
print(scientists)

In [ ]:
#1,2를 값으로 가지는 val column을 넣어보아라

In [ ]:
print(scientists)

# 03-6 데이터 저장하고 불러오기
## 데이터를 피클, CSV, TSV 파일로 저장하고 불러오기

### 1. 피클로 저장하기

In [ ]:
names = scientists['Name']

In [ ]:
names.to_pickle('../output/scientists_names_series.pickle')

In [ ]:
scientists.to_pickle('../output/scientists_df.pickle')

In [ ]:
scientist_names_from_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(scientist_names_from_pickle)

In [ ]:
scientists_from_pickle = pd.read_pickle('../output/scientists_df.pickle')
print(scientists_from_pickle)

### 4. CSV 파일과 TSV 파일로 저장하기

In [ ]:
names.to_csv('../output/scientist_names_series.csv')

In [ ]:
scientists.to_csv('../output/scientists_df.tsv', sep='\t')

In [ ]:
scientists.to_csv('../output/scientists_df_no_index.csv', index=False)

In [ ]:
names_df = names.to_frame()

import xlwt 
names_df.to_excel('../output/scientists_names_series_df.xls')

import openpyxl 
names_df.to_excel('../output/scientists_names_series_df.xlsx')