## 1. 누락값 확인하기

### 누락값은 데이터가 없다는 것을 의미한다.

In [1]:
from numpy import NaN, NAN, nan

In [2]:
print(NaN == True)

False

In [3]:
print(NaN == False)

False

In [4]:
print(NaN == 0)  #0이어도 false가 나오기 때문에 누락 값이 아님

False

In [5]:
print(NaN == '')

False

---

In [ ]:
print(NaN == NaN)

In [ ]:
print(NaN == nan)

In [ ]:
print(NaN == NAN)

In [ ]:
print(nan == NAN)

---

### isnull(  ) : 누락값을 검사하기

In [ ]:
import pandas as pd 

print(pd.isnull(NaN))

In [ ]:
print(pd.isnull(nan))

In [ ]:
print(pd.isnull(NAN))

In [ ]:
obj = pd.Series([3,6,nan,7,8,nan],index = ['apple','orange','banana','pineapple','peach','grape'])

In [ ]:
print(obj)

In [ ]:
#누락값인지 아닌지 검사하기

### notnull(  ): 누락값이 아닌 경우 검사하기

In [ ]:
print(pd.notnull(NaN))

In [ ]:
print(pd.notnull(42))

In [ ]:
print(pd.notnull('missing'))

In [ ]:
#누락값인지 아닌지 검사하기


## 누락값의 개수 구하기

In [ ]:
ebola = pd.read_csv('../data/country_timeseries.csv')
ebola

#### count( ) : 누락값이 아닌 경우 갯수 세기

In [ ]:
print(ebola.count())

### isnull(  ): nan값 검사하기 T/F, count_nonzero(  ): 0이 아닌값 세기

In [ ]:
import numpy as np 

print(np.count_nonzero(ebola.isnull()))

In [ ]:
#Case_Guinea에 대해서 nan값 검사해서 숫자 세기

### value_counts(  ): 지정한 열의 값 빈도수 
#### Cases_Guinea 열의 결측값 갯수 세기

In [ ]:
print(ebola.Cases_Guinea.value_counts(dropna=False).head())


## 누락값 처리하기 ― 변경, 삭제

### 1. 누락값 변경하기

### fillna(  ) : 괄호안의 값으로 누락값 대체

In [ ]:
print(ebola.fillna(0).iloc[0:10, 0:5])

### fillna(method='ffill') : 누락값이 나타나기 전의 값으로 변경

In [ ]:
print(ebola.fillna(method='ffill').iloc[0:10, 0:5])

### fillna(method='bfill') : 누락값이 나타난 이후의 첫 번째 값으로 변경

In [ ]:
print(ebola.fillna(method='bfill').iloc[0:10, 0:5])

### interpolate(  ): 누락값 양쪽의 중간값으로 처리

In [ ]:
print(ebola.interpolate().iloc[0:10, 0:5])

### 평균값으로 채우기

In [ ]:
#에볼라 데이터의 결측값을 평균값으로 채우기

### 5. dropna(   ) : 누락값 삭제하기

In [ ]:
print(ebola.shape)

In [ ]:
ebola_dropna = ebola.dropna() 
print(ebola_dropna.shape)

In [ ]:
print(ebola_dropna)

#### how='all' 모든 행의 값이 NaN인 경우 삭제

In [ ]:
data= pd.DataFrame([[1.,6.5,3.],[1.,NAN,NAN],[NAN,NAN,NAN],[NAN,6.5,3.]])
data

In [ ]:
data.dropna(how='all')

#### thresh = n 행에 값이 n개 이상인 것만 골라내기

In [ ]:
data.dropna(thresh=2)

In [ ]:
#에볼라 데이터에서 결측값이 5개 이상인 것 삭제하기


## 누락값이 포함된 데이터 계산하기

In [ ]:
ebola['Cases_multiple'] = ebola['Cases_Guinea'] + ebola['Cases_Liberia'] + ebola['Cases_SierraLeone']

In [ ]:
ebola_subset = ebola.loc[:, ['Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone', 'Cases_multiple']] 
print(ebola_subset.head(n=10))

In [ ]:
print(ebola.Cases_Guinea.sum(skipna = True))

In [ ]:
print(ebola.Cases_Guinea.sum(skipna = False))

In [ ]:
#앞서 ebola data에 대한 더하기를 행기준으로 수행하고 'sum'이라는 컬럼에 저장해 새로운 데이터 프레임 만들기