# 07. 깔끔한 데이터

## 07-1. 열과 피벗

__넓은 데이터__
열 이름이 어떤 값을 의미할 경우 열이 옆으로 길게 늘어선 형태가 된다. 이런 데이터를 '넓은 데이터'라고 한다.

__melt 메서드__ 넓은 데이터에서 지정한 열의 데이터를 모두 행으로 정리해 준다.
- __메서드 인자__
 - id_var : 위치를 유지할 열 지정
 - value_vars : 행으로 위치를 변경할 열 지정
 - var_name : 위치를 변경한 열 이름 지정
 - value_name : 위치를 변경한 열의 데이터를 저장할 열 이름 지정

## melt 메서드 사용하기

### 1. 1개의 열만 고정하고 나머지 열을 행으로 바꾸기

In [1]:
import pandas as pd
pew = pd.read_csv('../ESAA/pew.csv')
print(pew.head())

             religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  $50-75k  \
0            Agnostic     27       34       60       81       76      137
1             Atheist     12       27       37       52       35       70
2            Buddhist     27       21       30       34       33       58
3            Catholic    418      617      732      670      638     1116
4  Don’t know/refused     15       14       15       11       10       35

   $75-100k  $100-150k  >150k  Don't know/refused
0       122        109     84                  96
1        73         59     74                  76
2        62         39     53                  54
3       949        792    633                1489
4        21         17     18                 116

In [ ]:
print(pew.iloc[:,0:6])

In [ ]:
pew_long = pd.melt(pew, id_vars='religion')
print(pew_long)

In [ ]:
pew_long = pd.melt(pew, id_vars="religion", var_name='income', value_name='count')
print(pew_long)

### 5. 2개 이상의 열을 고정하고 나머지 열을 행으로 바꾸기

In [ ]:
billboard = pd.read_csv('../ESAA/billboard.csv')

print(billboard.iloc[0:5, 0:16])

In [ ]:
billboard_long = pd.melt(billboard, id_vars=['year','artist','track','time','date.entered'], var_name='week',value_name='rating')
print(billboard_long.head())

## 07-2. 열 이름 관리하기

__split 메서드로 열 이름 분리__

## ebola 데이터 집합 살펴보기

In [ ]:
ebola = pd.read_csv('../data/country_timeseries.csv')
print(ebola.columns)

In [ ]:
print(ebola.iloc[:5, [0,1,2,3,10,11]])

#### 다음과 같은 결과가 나오도록 melt 메서드 적용하기

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

__`split`__ Cases_Guinea와 같이 2개 이상의 의미를 가지고 있는 열 이름은 밑줄('_')을 기준으로 Cases, Guinea와 같은 방법으로 분리할 수 있다. split 메서드는 기본적으로 공백을 기준으로 문자열을 자른다.

## 열 이름 분리하고 데이터프레임에 추가하기

In [ ]:
variable_split = ebola_long.variable.str.split('_')
print(variable_split[:5])

In [ ]:
print(type(variable_split)) #variable_split에 저장된 자료형은 시리즈
print(type(variable_split[0])) #시리즈에 저장된 값(열 이름)의 자료형은 리스트

- 리스트의 0번째 인덱스에 담긴 문자열은 발병(Cases)/죽음(Deaths)
- 1번째 인덱스에 담긴 문자열은 나라 이름

__get 메서드__ 를 사용하여 0,1번째 인덱스의 데이터 한꺼번에 추출

In [ ]:
status_values = variable_split.str.get(0)
country_values = variable_split.str.get(1)

print(status_values[:5])

In [ ]:
print(country_values[:5])

이제 위에서 분리한 문자열을 status, country라는 열 이름으로 데이터 프레임에 추가하자

In [ ]:
ebola_long['status']=status_values
ebola_long['country']=country_values

print(ebola_long.head())

## concat 메서드를 응용하여 데이터프레임에 열 추가하기

In [ ]:
variable_split = ebola_long.variable.str.split('_',expand=True) #expand=T는 결과물을 데이터프레임으로 만든다.
variable_split.columns = ['status','country']
ebola_parsed = pd.concat([ebola_long, variable_split],axis=1) #axis=1 : 열 방향으로 합치기

In [ ]:
print(ebola_parsed)

## 07-3 여러 열을 하나로 정리하기

## melt, pivot_table 메서드

In [ ]:
weather = pd.read_csv('../data/weather.csv')
print(weather.iloc[:5,:11])

### 열의 날짜 데이터 행으로 위치 변경하기

        id  year  month element day  temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
4  MX17004  2010      3    tmax  d1   NaN

### 행과 열의 위치 변경하기
##### : element의 value를 열로, temp를 value열의 데이터로 가져오기

__pivot_table 메서드__ 데이터를 재구성해 자료의 집계나 평균과 같은 통계량을 정리한 피벗 테이블을 만든다. 
- __메서드 인자__
 - __index__ : 만들어지는 피벗테이블의 로우를 그룹으로 묶을 컬럼 이름이나 그룹 키
 - __values__ : 집계하려는 컬럼 이름 혹은 이름의 리스트.
 - __columns__ : 만들어지는 피벗테이블의 컬럼을 그룹으로 묶을 컬럼 이름이나 그룹 키
 - __aggfunc__ : 집계함수나 함수 리스트. 기본값은 'mean'
 - __fill_value__ : 결과테이블에서 누락된 값을 대체하기 위한 값
 - __dropna__ : True이면 모든 항목이 NA인 컬럼은 포함하지 않는다.
 - __margin__ : 부분합이나 총계를 담기 위한 로우/컬럼을 추가할지 여부

In [ ]:
weather_tidy = weather_melt.pivot_table(
    index=['id','year','month','day'],
    columns='element',
    values='temp'
)

print(weather_tidy.head())

### 부분합 구하기 : margins=True
margins=True를 넘겨서 부분합을 포함시키면 All 컬럼과 All 로우가 추가되어 단일 줄 안에서 그룹 통계를 얻을 수 있다.

In [ ]:
weather_tidy = weather_melt.pivot_table(
    index=['id','year','month','day'],
    columns='element',
    values='temp',
    margins=True
)

print(weather_tidy.head(10))

### margin에서 집계 함수 변경 : aggfunc = 'count', len
집계함수에서 'count'나 len 함수는 그룹 크기의 교차일람표(총 개수나 빈도)를 반환한다. 'mean'등의 통계량 사용 가능하다.

In [ ]:
weather_tidy = weather_melt.pivot_table(
    index=['id','year','month','day'],
    columns='element',
    values='temp',
    margins=True,
    aggfunc='count'
)

print(weather_tidy.head(10))

결측치가 있다면 fill_value로 처리할 수 있다.

In [ ]:
weather_tidy = weather_melt.pivot_table(
    index=['id','year','month','day'],
    columns='element',
    values='temp',
    margins=True,
    aggfunc='mean',
    fill_value=0
)

print(weather_tidy.head(10))

### reset_index

In [ ]:
weather_tidy.element

In [ ]:
weather_tidy_flat = weather_tidy.reset_index()
print(weather_tidy_flat.head())

## 07-4. 중복 데이터 처리하기

## 빌보드 차트의 중복 데이터 처리하기

In [33]:
billboard = pd.read_csv('../data/billboard.csv')
billboard_long = pd.melt(billboard, id_vars=['year','artist','track','time','date.entered'], var_name='week', value_name='rating')
print(billboard_long.head())

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

### track이 Loser인 것만 모아보기

In [ ]:
print(billboard_long[billboard_long.track == 'Loser'].head())

중복 데이터가 많은 것을 볼 수 있다.

### 중복 데이터를 가진 열(year, artist, track, time) 새 데이터 프레임에 저장

In [ ]:
billboard_songs = billboard_long[['year','artist','track','time']]
print(billboard_songs.shape)

### 중복 데이터 제거 - drop_duplicates()

In [ ]:
billboard_songs = billboard_songs.drop_duplicates()
print(billboard_songs.shape)

### 중복을 제거한 데이터에 id(행 순서)추가

In [ ]:
billboard_songs['id']=range(len(billboard_songs))
print(billboard_songs.head(10))

### 노래 정보와 주간 순위 데이터 합치기

In [ ]:
billboard_ratings = billboard_long.merge(billboard_songs, on=['year','artist','track','time'])
print(billboard_ratings.shape)

In [ ]:
print(billboard_ratings.head())

## 07-5. 대용량 데이터 처리하기

__여러 개로 나누어진 데이터 불러오기__

데이터를 나누어 저장하면 용량이 작아져 저장이나 공유에 유용하다. 또는 매일 수집하는 주식 정보처럼 여러 개의 작은 데이터가 생성되기도 한다.

## 뉴욕 택시 데이터 준비

### 데이터 내려받기

In [ ]:
import os 
import urllib.request

# 네트워크 상태에 따라 5 ~ 15분이 소요됩니다.
with open('../data/raw_data_urls.txt', 'r') as data_urls:
    for line, url in enumerate(data_urls):
        if line == 5:
            break 
        fn = url.split('/')[-1].strip()
        fp = os.path.join('', '../data', fn)
        print(url)
        print(fp)
        urllib.request.urlretrieve(url, fp)

### 저장된 5개의 파일 한꺼번에 불러오기
내려받은 파일은 data폴더에 'fhv_tripdata_YYYY_MM.csv'로 저장된다.

In [ ]:
import glob
nyc_taxi_data = glob.glob('../data/fhv_*')
print(nyc_taxi_data)

### 각각의 파일을 데이터 프레임으로 저장

In [ ]:
taxi1 = pd.read_csv(nyc_taxi_data[0])
taxi2 = pd.read_csv(nyc_taxi_data[1])
taxi3 = pd.read_csv(nyc_taxi_data[2])
taxi4 = pd.read_csv(nyc_taxi_data[3])
taxi5 = pd.read_csv(nyc_taxi_data[4])

### 잘 불러왔는지 확인

In [ ]:
print(taxi1.head(2))
print(taxi2.head(2))
print(taxi3.head(2))
print(taxi4.head(2))
print(taxi5.head(2))

### 각 데이터의 행과 열 확인

In [ ]:
print(taxi1.shape)
print(taxi2.shape)
print(taxi3.shape)
print(taxi4.shape)
print(taxi5.shape)

데이터가 꽤 크다.

### taxi1~5를 행 방향으로 연결

In [ ]:
taxi = pd.concat([taxi1,taxi2,taxi3,taxi4,taxi5]) #axis=0 : 행방향
print(taxi.shape)

## 반복문으로 데이터 준비하기

### 5개의 csv 파일을 데이터 프레임으로 변환하여 리스트에 저장

In [ ]:
list_taxi_df = []

for csv_filename in nyc_taxi_data:
    # print(csv_filename)
    df = pd.read_csv(csv_filename)
    list_taxi_df.append(df)
    
print(len(list_taxi_df))

In [ ]:
print(type(list_taxi_df[0]))

In [ ]:
print(list_taxi_df[0].head())

list_taxi_df라는 리스트 안에 데이터 프레임이 저장되어있다.

### 리스트에 있는 5개의 데이터 프레임 합치기

In [ ]:
taxi_loop_concat = pd.concat(list_taxi_df)
print(taxi_loop_concat.shape)

In [ ]:
print(taxi.equals(taxi_loop_concat))

앞에서 만든 taxi 데이터 프레임과 반복문을 이용한 taxi_loop_concat 데이터 프레임이 동일하다.